*{
    box-sizing: border-box;
    position: relative;
}

// typography
h1,h2,h3,h4,h5,h6{
    font-weight: bold; 
    line-height: 1.5; 
}
h1{
    font-size: 8rem; 
}
h2{
    font-size: 6rem; 
}
h3{
    font-size: 3.75rem; 
}
h4{
    font-size: 3rem; 
}
h5{
    font-size: 1.5rem; 
}
h6{
    font-size: 1rem; 
}
a{
    display: block;
    text-decoration: none;
    outline: none;
}
.row{
    display: flex;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.333333%;
}
.col-6{
    width: 50%;
}
.col-8{
    width: 66.66666666666667%;
}
.col-9{
    width: 75%;
}
.grid-line-bg{
    background: var(--grid-bg-color);
    background-image: linear-gradient(var(--grid-line-color) .15rem, transparent .15rem), linear-gradient(90deg, var(--grid-line-color) .15rem, transparent .15rem);
    background-size: 25% 25vh;
    border: none;
}
.photo-stream{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr)); /* 自動適應，最小寬度 200px */
    grid-gap: 1.5rem; /* 圖片間距 */
    img{
        width: 100%;
        height: auto;
        display: block;
    }
}
.shadow4px{
    box-shadow: .25rem .25rem 0 0 var(--shadow-color);
}
.shadow8px{
    box-shadow: .5rem .5rem 0 0 var(--shadow-color); 
}
.shadow16px{
    box-shadow: 1rem 1rem 0 0 var(--shadow-color); 
}
@media(max-width: 767px){
    .grid-line-bg{
    background: var(--grid-bg-color);
    background-image: linear-gradient(var(--grid-line-color) .1rem, transparent .1rem), linear-gradient(90deg, var(--grid-line-color) .1rem, transparent .1rem);
    background-size: 50% 25vh;
    border: none;
    }
}