// industrial
.industrial-header{
    .header-banner{
        background-image: url(/asset/images/industrial/urosense.jpg);
    }
}

// uiux
.uiux-header{
    .header-banner{
        background-image: url(/asset/images/uiux/foothow-app.jpg);
    }
}

// rendering
.render-header{
    .header-banner{
        background-image: url(/asset/images/rendering/sony-dsc-v1.jpg);
    }
}

// branding
.branding-header{
    .header-banner{
        background-image: url(/asset/images/branding/gyokinnshou.jpg);
    }
}

// graphic
.graphic-header{
    .header-banner{
        background-image: url(/asset/images/graphic/plasma-agriculture-system-exhibition-backboard.jpg);
    }
}