.layout-main .container .row{
    // industrial
    .unstable-cement .card .card-body{
        background-image: url(/asset/images/unstable-cement.jpg);
    }
    .flashlight .card .card-body{
        background-image: url(/asset/images/flashlight.jpg);
    }
    .dryveler .card .card-body{
        background-image: url(/asset/images/dryveler.jpg);
    }
    .road-composition-drone .card .card-body{
        background-image: url(/asset/images/road-composition-drone.jpg);
    }
    .golden-extraction .card .card-body{
        background-image: url(/asset/images/golden-extraction.jpg);
    }
    .transtyle .card .card-body{
        background-image: url(/asset/images/transtyle.jpg);
    }

    // ui/ux
    .mullet-roe-brand-website .card .card-body{
        background-image: url(/asset/images/mullet-roe-brand-website.jpg);
    }
    .mose .card .card-body{
        background-image: url(/asset/images/mose.jpg);
    }

    // graphic
    .the-beauty-of-thau-arts-and-humanities .card .card-body{
        background-image: url(/asset/images/the-beauty-of-thau-arts-and-humanities.jpg);
    }
    .medical-publication-poster .card .card-body{
        background-image: url(/asset/images/medical-publication-poster.jpg);
    }
    .desk-calendar-2022 .card .card-body{
        background-image: url(/asset/images/desk-calendar-2022.jpg);
    }
    .leader-extrusion-machinery-dm .card .card-body{
        background-image: url(/asset/images/leader-extrusion-machinery-dm.jpg);
    }
}