.header .container .navi .nav #cv span{
    opacity: 1;
}
.main{
    background-color: $bgc-light;
    padding: 0 3.75rem;
    .container{
        border-right: .15rem solid $greyForDisable;
        border-bottom: .15rem solid $greyForDisable;
        .banner{
            display: flex;
            gap: 3rem;
            padding: 3rem 0;
            margin: 0 auto;
            .para{
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                font-family: $font-family-en;
                h5{
                    color: $primary-color;
                }
                p{
                    line-height: 1.5;
                }
            }
            .imgs{
                padding: 0.5rem;
                border: .3rem solid $primary-color;
                img{
                    width: 10rem;
                }
            }
        }
        .row{
            display: flex;
            flex-direction: column;
            gap: 3rem;
            padding: 3rem 0;
            margin: 0 auto;
            .title{
                display: flex;
                align-items: center;
                gap: 1.5rem;
                .icons{
                    font-size: 4.5rem;
                    color: $primary-color;
                    img{
                        width: 4.5rem;
                    }
                }
                h4{
                    font-family: $font-family-en;
                }
            }
            .works{
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                font-family: $font-family-en;
                line-height: 1.5;
                .title{
                    display: flex;
                    flex-direction: column;
                    align-items: stretch;
                    gap: 0.5rem;
                    padding: 1rem 0;
                    h5{
                        color: $primary-color;
                    }
                    p{
                        font-size: 1.5rem;
                        &:first-child{
                            font-size: 2.25rem;
                            font-weight: bold;
                        }
                    }
                }
                p span{
                    font-weight: bold;
                }
            }
            p,ul{
                font-family: $font-family-en;
                font-size: 1.5rem;
                line-height: 1.5;
            }
            ul{
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                li{
                    list-style-type: disc;
                    margin-left: 3rem;
                    span{
                        font-weight: bold;
                    }
                }
            }
            
        }
        .divider{
            display: flex;
            .col-3{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1.5rem;
                .rectangle{
                    width: 3rem;
                    height: 3rem;
                    background-color: $primary-color;
                }
            }
        }
        .content{
            width: 100%;
            padding: 3rem 0;
            .connect-box{
                display: flex;
                flex-direction: column;
                gap: 2.25rem;
                border: .3rem solid #000;
                background-color: $bgc-light;
                margin: 0 auto;
                .title{
                    display: flex;
                    align-items: center;
                    gap: 1.5rem;
                    padding: 3rem 3rem 0 3rem;
                    h5{
                        font-family: $font-family-en;
                    }
                    .icons{
                        width: 2.25rem;
                    }
                }
                p{
                    font-family: $font-family-en;
                    font-size: 1.5rem;
                    line-height: 1.5;
                    padding: 0 3rem;
                }
                .btns-group{
                    display: flex;
                    justify-content: space-between;
                    li{
                        width: 100%;
                        border-right: .3rem solid #000;
                        .btn{
                            font-family: $font-family-en;
                            font-size: 1.5rem;
                            line-height: 1.5;
                            font-weight: bold;
                            color: #000;
                            text-align: center;
                            padding: 1rem 1.5rem;
                            border-top: .3rem solid #000;
                            transition: all .3s ease-in-out;
                            &:hover{
                                color: #fff;
                                background-color: $primary-color;
                            }
                        }
                        &:last-child{
                            border-right: none;
                        }
                    }
                }
            }
        }
    }
}