.cv-header .container .navi .nav #cv span{
    opacity: 1;
}
.cv-main{
    background-color: var(--bg-primary);
    padding: 0 3.75rem;
    .container{
        border-right: .15rem solid var(--grid-line-color);
        border-bottom: .15rem solid var(--grid-line-color);
        .banner{
            display: flex;
            gap: 3rem;
            padding: 3rem 0;
            margin: 0 auto;
            .para{
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                h5{
                    color: var(--text-secondary);
                }
                p{
                    line-height: 1.5;
                }
            }
            .imgs{
                padding: 0.5rem;
                border: .3rem solid var(--border-color);
                img{
                    width: 10rem;
                }
            }
        }
        .row{
            display: flex;
            flex-direction: column;
            gap: 3rem;
            padding: 3rem 0;
            margin: 0 auto;
            .title{
                display: flex;
                align-items: center;
                gap: 1.5rem;
                .icons{
                    font-size: 4.5rem;
                    color: var(--text-secondary);
                    img{
                        width: 4.5rem;
                    }
                }
            }
            .works{
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                line-height: 1.5;
                .title{
                    display: flex;
                    flex-direction: column;
                    align-items: stretch;
                    gap: 0.5rem;
                    padding: 1rem 0;
                    h5{
                        color: var(--text-secondary);
                    }
                    p{
                        font-size: 1.5rem;
                        &:first-child{
                            font-size: 2.25rem;
                            font-weight: bold;
                        }
                    }
                }
                p span{
                    font-weight: bold;
                }
            }
            p,ul{
                font-size: 1.5rem;
                line-height: 1.5;
            }
            ul{
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                li{
                    list-style-type: disc;
                    margin-left: 3rem;
                    span{
                        font-weight: bold;
                    }
                }
            }
            
        }
        .divider{
            display: flex;
            .col-3{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1.5rem;
                .rectangle{
                    width: 3rem;
                    height: 3rem;
                    background-color: var(--bg-third);
                }
            }
        }
        .content{
            width: 100%;
            padding: 3rem 0;
            .connect-box{
                display: flex;
                flex-direction: column;
                gap: 2.25rem;
                border: .3rem solid var(--border-color);
                background-color: var(--bg-primary);
                margin: 0 auto;
                .title{
                    display: flex;
                    align-items: center;
                    gap: 1.5rem;
                    padding: 3rem 3rem 0 3rem;
                    .icons{
                        width: 2.25rem;
                    }
                }
                p{
                    font-size: 1.5rem;
                    line-height: 1.5;
                    padding: 0 3rem;
                }
                .btns-group{
                    display: flex;
                    justify-content: space-between;
                    li{
                        width: 100%;
                        border-right: .3rem solid var(--border-color);
                        .btn{
                            font-size: 1.5rem;
                            line-height: 1.5;
                            font-weight: bold;
                            color: var(--text-primary);
                            text-align: center;
                            padding: 1rem 1.5rem;
                            border-top: .3rem solid var(--border-color);
                            transition: all .3s ease-in-out;
                            &:hover{
                                color: var(--neutral-color);
                                background-color: var(--bg-third);
                            }
                        }
                        &:last-child{
                            border-right: none;
                        }
                    }
                }
            }
        }
    }
}
@media(max-width: 1599px){
    .cv-main .container{
        .row{
            .title{
                display: flex;
                align-items: center;
                gap: 1.5rem;
                .icons{
                    width: 3rem;
                }
                h4{
                    font-size: 1.5rem;
                }
            }
            .works{
                .title{
                    align-items: flex-start;
                    h5{
                        font-size: 1rem;
                    }
                    p{
                        font-size: 1rem;
                        &:first-child{
                            font-size: 1.5rem;
                        }
                    }
                }
            }
            p, ul li{
                font-size: 1rem;
            }
        }
        .content .connect-box{
            gap: 1.5rem;
            .title{
                padding: 1.5rem 1.5rem 0 1.5rem;
            }
            p{
                font-size: 1rem;
                padding: 0 1.5rem;
            }
            .btns-group li .btn{
                font-size: 1rem;
            }
        }
    }
}
@media(max-width: 996px){
    .cv-main{
        padding: 0;
        .container{
            padding: 0 3rem;
            .banner, .row{
                width: 100%;
            }
            .content .connect-box{
                width: 80%;
            }
        }
    }
}
@media(max-width: 767px){
    .cv-main .container{
        border-bottom: none;
        padding: 1.5rem;
        .banner{
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            padding-bottom: 0;
            .para{
                h4{
                    font-size: 1.5rem;
                }
                h5{
                    font-size: 1rem;
                }
                p{
                    font-size: 0.875rem;
                }
            }
            .imgs{
                width: 70%;
                img{
                    width: 100%;
                    aspect-ratio: 1/1;
                }
            }
        }
        .row{
            gap: 3rem;
            padding: 1.5rem 0rem;
            .title{
                flex-direction: column;
                align-items: flex-start;
                gap: 1rem;
                .icons{
                    width: 3rem;
                    font-size: 3rem;
                    overflow: hidden;
                    img{
                        width: 100%;
                    }
                }
                h4{
                    font-size: 2rem;
                }
            }
            p{
                font-size: 0.875rem;
            }
            ul{
                padding-left: 1.5rem;
                li{
                    font-size: 0.875rem;
                    margin: 0;
                }
            }
        }
        .divider{
            padding: 3rem 0 0 0;
            .col-3{
                padding: 0;
                .rectangle{
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }
        }
        .content{
            padding: 1rem 0;
            .connect-box{
                gap: 1rem;
                .title{
                    gap: 0.5rem;
                    h5{
                        font-size: 1rem;
                    }
                    .icons{
                        width: 1.5rem;
                    }
                }
                p{
                    font-size: 0.875rem;
                    text-wrap: balance;
                }
                .btns-group{
                    flex-direction: column;
                    li{
                        width: 100%;
                        border-right: 0;
                        .btn{
                            padding: 0.5rem 1rem;
                        }
                    }
                }
            }
        }
    }
}