.detailPage-main{
    background-color: var(--bg-primary);
    padding: 0 3.75rem;
    .container{
        padding: 4.5rem 0;
        border-right: .15rem solid var(--grid-line-color);
        border-bottom: .15rem solid var(--grid-line-color);
        .title-group{
            display: flex;
            flex-direction: column;
            gap: 3rem;
            padding-bottom: 4.5rem;
            .decorate{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .rectangle{
                    width: 3rem;
                    height: 3rem;
                    background-color: var(--bg-third);
                }
            }
            .titles{
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                .title, .subtitle{
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
        .row{
            padding-bottom: 4.5rem;
            .summary{
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                line-height: 1.5;
                background-color: var(--bg-primary);
                border: .3rem solid var(--border-color);
                padding: 3rem;
                margin: 0 auto;
                h5{
                    color: var(--text-secondary);
                }
                p{
                    font-size: 1.5rem;
                }
                .btn{
                    a{
                        display: inline-block;
                        color: var(--neutral-color);
                        background-color: var(--bg-third);
                        border: .3rem solid transparent;
                        padding: 1rem 1.5rem;
                        &:hover{
                            color: var(--text-secondary);
                            font-weight: bold;
                            background-color: var(--bg-primary);
                            border: .3rem solid var(--border-secondary);
                        }
                    }
                }
            }
        }
        .imgs{
            border: .3rem solid var(--border-color);
            padding: 0;
            margin-bottom: 3rem;
            img{
                width: 100%;
            }
        }
        .para{
            width: 75%;
            flex-direction: column;
            gap: 1.5rem;
            line-height: 1.5;
            margin: 0 auto;
            .title{
                font-size: 3rem;
            }
            .subtitle{
                font-size: 1.5rem;
                color: var(--text-secondary);
            }
            .desc{
                font-size: 1.5rem;
            }
        }
    }
}
@media(max-width: 1599px){
    .detailPage-main{
        .container{
            .row{
                .summary{
                    h5, p{
                        font-size: 1rem;
                    }
                }
            }
            .para{
                .title{
                    font-size: 2rem;
                }
                .subtitle, .desc{
                    font-size: 1rem;
                }
            }
        }
    }
}
@media(max-width: 996px){
    .detailPage-main{
        padding: 0;
        .container{
            padding: 0 3rem;
            .row .summary{
                padding: 2rem;
                p{
                    font-size: 0.875rem;
                }
                .btn a{
                    padding: .5rem 1rem;
                }
            }
        }
    }
}
@media(max-width: 767px){
    .detailPage-main .container{
        border-bottom: none;
        padding: 1.5rem;
        .title-group{
            gap: 1.5rem;
            .decorate .rectangle{
                width: 1.5rem;
                height: 1.5rem;
            }
            .titles{
                .title h4{
                    font-size: 2rem;
                }
                .subtitle h5{
                    font-size: 1rem;
                }
            }
        }
        .row{
            padding-bottom: 3rem;
            .summary{
                width: 100%;
                gap: 1rem;
                padding: 1.5rem;
                h5{
                    font-size: 0.875rem;
                }
            }
        }
        .para{
            width: 100%;
            .title{
                font-size: 1.5rem;
            }
            .subtitle{
                font-size: 1rem;
            }
            .desc{
                font-size: 0.875rem;
            }
        }
    }
}