.header{
    width: 100%;
    background-color: $bgc-light;
    padding: 1rem 3.75rem;
    border: .3rem solid #000; 
    z-index: 1;
    .container{
        display: flex;
        align-items: center;
        font-family: $font-family-en;
        .header-logo{
        width: 25%;
        }
        .navi{
            width: 50%;
            display: flex;
            .nav{
                width: 33.333%;
                .nav-item{
                    font-size: 1.5rem;
                    line-height: 1.5;
                    color: #000;
                    text-align: center;
                    .header-hover{
                        font-weight: bold;
                        color: $primary-color;
                        opacity: 0;
                        transition: all 0.5s ease-in-out;
                    }
                    &:hover{
                        .header-hover{
                            opacity: 1;
                        }
                    }                
                }
            }
        }
        .tranCon{
            width: 25%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 3rem;
            .translate{
                .translate-btn{
                    // width: 3rem;
                    // height: 3rem;
                    font-size: 2rem;
                    color: #fff;
                    background-color: #000;
                    padding: 0.4rem;
                    border: 3px solid transparent;
                    transition: all 0.3s ease-in-out;
                    &:hover{
                        font-size: 2rem;
                        color: $primary-color;
                        background-color: transparent;
                        border: 3px solid $primary-color;
                    }
                }
            }
            .contact{
                .contact-btn{
                    display: inline-block;
                    line-height: 1.5;
                    color: #fff;
                    background-color: $primary-color;
                    padding: 0.75rem 1.5rem;
                    border: 3px solid transparent;
                    transition: all 0.3s ease-in-out;
                    &:hover{
                        font-weight: bold;
                        color: $primary-color;
                        background-color: transparent;
                        border: 3px solid $primary-color;
                    }
                }
            }
        }
    }
}