.layout-main{
    background-color: $bgc-light;
    padding: 0 3.75rem;
    .container{
        padding: 4.5rem 0;
        border-right: .15rem solid $greyForDisable;
        border-bottom: .15rem solid $greyForDisable;
        .title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 4.5rem;
            margin: 0 auto;
            h4{
                font-family: $font-family-en;
                text-align: center;
            }
            .rectangle{
                width: 3rem;
                height: 3rem;
                background-color: $primary-color;
            }
        }
        .row{
            gap: 1.5rem;
            padding-bottom: 4.5rem;
            margin: 0 auto;
            .cards{
                background-color: $bgc-light;
                border: .3rem solid #000;
                transition: all .3s ease-in-out;
                .card{
                    font-family: $font-family-en;
                    line-height: 1.5;
                    color: #000;
                    .card-header{
                        padding: 0.5rem 1.5rem;
                    }
                    .card-body{
                        width: 100%;
                        aspect-ratio: 1/1;
                        background-color: $greyForDisable;
                    }
                    .card-footer{
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-end;
                        padding: 1.5rem;
                        p{
                            transition: all .3s ease-in-out;
                            &:first-child{
                                opacity: 0;
                            }
                        }
                    }
                }
                &:hover{
                    border: .3rem solid $primary-color;
                    .card .card-footer p:first-child{
                        opacity: 1;
                        text-decoration: underline;
                        color: $primary-color;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}