// 01 color
$primary-color: #ff5a3f; 
$secondary-color-1: #02a596; 
$secondary-color-2: #caaf77; 
$secondary-color-3: #282a3f; 
$alert-color: #db1f1f; 
$alert-color-o: rgba(219,31,31,0.2); 
$gray-color: #f2f2f2; 
$greyForDisable: #d9d9d9; 
$bgc-light: rgba(245,235,221,1); 
$bgc-dark: #282a3f; 
$bgc-default: #fff; 

// 02 typography
$font-family-en: "IBM Plex Mono", monospace; 
$font-familt-zh: "Noto Sans TC", sans-serif; 